{{> navbar }}


<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="box dropdown is-pulled-right">
        <ul>
          <li><a class="navbar-item" href="/">Home</a></li>
          <li><a id="saved" class="navbar-item" href="/saved">Saved Articles</a></li>
        </ul>
      </div>
      <h1 id="hero-title" class="title">
        Box Office Scrape
      </h1>
      <h2 class="subtitle">
        Movie Box Office
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Saved Box Office Articles</h1>
    <div id="saved-results"></div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Box Office Scrape</strong> by <a href="https://github.com/Delaneyjp/boxofficescrape">Justin Delaney</a>
      </p>
    </div>
  </div>
</footer>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p id="comments-header" class="modal-card-title">
        {{!-- Modal header text dynamically rendered --}}
      </p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="comments-list">
        <p>Write the first comment for this article.</p>
      </div>
      <hr>
      <div>
        <textarea id="new-comment-field"></textarea>
      </div>
    </section>
    <footer class="modal-card-foot">
      {{!-- Save comment button dynamically rendered to include data-id attribute of article--}}
    </footer>
  </div>
</div>

<script src="/assets/js/saved.js"></script>